body {
    text-align: center;
    font-family: sans-serif;
    color: #cee2ea;
    background-color: #000;
}

h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #8af;
    text-shadow: #20256e 0 3px 0;
}


canvas {
    display: none;
}

.portfolio {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    bottom: 2rem;
    scrollbar-gutter: stable;
    border-radius: 10px;
}
.portfolio h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.project {
    background: #090915;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 10px #fff;
    transform: translateY(40px) scale(0.98);
}

@media (min-width: 700px) {
    .projects {
        flex-direction: row;
    }
    .project {
        flex: 1;
    }
}

.emoji-image {
    font-size: 2px;
    width: 100%;
}

a {
    color: #8af;
    text-decoration: none;
    font-weight: bold;
}